[user]
  name = Steve Henderson
  email = hevets@gmail.com
[color]
  ui = auto
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[core]
  editor = /usr/bin/vim
[push]
  default = simple
